
<div class="footer">
  <div class="footer-content">

<div class="row">

  <div class="col-md-4 about">
    <div class="footer-section about">
      <h3 style="color: yellow;"><%=kindOfDay%></h3>
    <h4><span class="logo-text-span">What</span> I do</h4>
    <p>
      I create UX, UI, unique and responsive websites and, web Apps
    </p>
       <!-- <div class="contact">
         <span><i class="fas fa-phone"></i> &nbsp; 080 0000 0000</span>
         <span> &nbsp; petimothy@seznam.cz</span>
       </div> -->
       <!-- <div class="social">
         <a href="#"><i class="fas fa-facebook"></i></a>
         <a href="#"><i class="fas fa-instagram"></i></a>
         <a href="#"><i class="fas fa-twitter"></i></a>
         <a href="#"><i class="fas fa-youtube"></i></a>
       </div> -->
   </div>
  </div>

  <div class="col-md-4">
    <div class="footer-section skill">
    <h4><span class="logo-text-span">My</span> Skills</h4>
    <p>
      <img class="skill-image" src="img/html4.jpg" alt="">
      <img class="skill-image" src="img/css3.jpg" alt="">
      <img class="skill-image" src="img/javascript.jpg" alt="">
      <img class="skill-image" src="img/jquery.jpg" alt="">
      <img class="skill-image" src="img/bootstrap.jpg" alt="">
      <img class="skill-image" src="img/nodejs.jpg" alt="">
      <img class="skill-image" src="img/expressjs.jpg" alt="">
      <img class="skill-image" src="img/rest-best-api.jpg" alt="">
      <img class="skill-image" src="img/reactBest.jpg" alt="">
      <img class="skill-image" src="img/github.jpg" alt="">
      <img class="skill-image" src="img/mongodb2.jpg" alt="">
      <!-- HTML 5, CSS, Javascript ES6+, jQuery, Node.js, React, Express.js, APIs, Git, Github, EJS, Databases, REST, SQL, MongoDB, Bootstrap 4+, Mongoose, etc. -->
    </p>
 
       </div>
  </div>

  <div class="col-md-4">
    <div class="footer-section contact-form">
      <h4>Contact Me</h4>
      <br>
      <form action="home" method="post">
         <input type="email" name="email" class="text-input contact-input" placeholder="Your Email Address">
         <textarea rows="1" class="text-input contact-input" name="message" placeholder="Your Message"></textarea>
         <button class="btn btn-lg btn-danger contact-btn" type="button" name="button">Send</button>
      </form>
    </div>
  </div>
  </div>

</div>


  <div class="footer-bottom">
    &copy<%=year%> Peace Timothy
  </div>
</div>

<script type="text/javascript" src="js/animate.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</body>

</html>
